*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background: linear-gradient(180deg, rgb(161, 87, 230),  rgb(37, 37, 37));
}

input,
a,
button,
li {
    all: unset;
    font: inherit
}

a,
button{
    cursor: pointer;
}

footer {
    padding:  3.5rem
        clamp(3rem, 6vw, 14rem);
}

.footerWrapper{
    max-width: 90rem;
    margin: 0 auto;
}

.footerSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.footerSubcribe{
    max-width: 
        clamp(20rem, 33vw, 2.25rem);
}

.footerSubcribe > h2 {
    color: aliceblue;
    font-size: 
        clamp(1.5rem, 2.3vw, 2.25rem);
}

.inputBox{
    display: flex;
    max-width: 100%;
    padding-block: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: 3rem;
}

.inputBox > input {
    color: aliceblue;
    flex-grow: 1;
}

.footerNav{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(3rem,4vw, 7rem)
}

.footerNav > div > h3 {
    font-size: 1rem;
    color: aliceblue;
}

.footerNav > div > ul {
    display:  flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    color: aliceblue;
}

.footerNav > div > li{
    font-size: 1.125rem;
    font-weight: 700;
    transition:  opacity 200ms ease;
    color: aliceblue;
}

.footerNav > div li:hover {
    opacity: 0.5;
}

.footerCopyright{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    margin-top: 5rem;
}

.footerCopyright > p{
    color: aliceblue;
}

@media (max-width: 53rem) {
    .footerSubscribe {
        max-width: 100%;
    }
}

img{
    width: 30px;
    height: 30px;
}
