/* *,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    width: 100%;
    background: linear-gradient(180deg, rgb(161, 87, 230),  rgb(37, 37, 37));
}

input,
a,
.A,
button,
li {
    all: unset;
    font: inherit
}

a,
.A,
button{
    cursor: pointer;
    color: aliceblue;
}

footer {
    padding:  3.5rem
        clamp(3rem, 6vw, 14rem);
}

.footerWrapper{
    max-width: 90rem;
    margin: 0 auto;
}

.footerSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 3rem;
}

.footerSubcribe{
    max-width: 
        clamp(20rem, 33vw, 2.25rem);
}

.footerSubcribe > h2 {
    color: aliceblue;
    font-size: 
        clamp(1.5rem, 2.3vw, 2.25rem);
}

.inputBox{
    display: flex;
    max-width: 100%;
    padding-block: 1rem;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-top: 3rem;
}

.inputBox > input {
    color: aliceblue;
    flex-grow: 1;
}

.footerNav{
    display: flex;
    flex-wrap: wrap;
    gap: clamp(3rem,4vw, 7rem)
}

.footerNav > div > h3 {
    font-size: 1rem;
    color: aliceblue;
}

.footerNav > div > ul {
    display:  flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 2rem;
    color: aliceblue;
}

.footerNav > div > li{
    font-size: 1.125rem;
    font-weight: 700;
    transition:  opacity 200ms ease;
    color: aliceblue;
}

.footerNav > div li:hover {
    opacity: 0.5;
}

.footerCopyright{
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    margin-top: 5rem;
}

.footerCopyright > p{
    color: aliceblue;
}

@media (max-width: 53rem) {
    .footerSubscribe {
        max-width: 100%;
    }
}

img{
    width: 30px;
    height: 30px;
} */

.contactPageWrapper h1 {
    max-width: 900px !important;
    color: aliceblue;
}

.contactPageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(180deg, rgb(161, 87, 230), rgb(37, 37, 37));
    padding-bottom: 100px;
    padding-top: 50px;
}

.contactFormContainer {
    background-color: white;
    max-width: 700px;
    width: 100%;
    margin-top: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    border-radius: 5rem;
}

.contactFormContainer input {
    flex: 1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.3rem;
    padding: 0.5rem 1rem;
}

.secondaryButton {
    padding: 1rem 2.5rem;
    background-color: #9028bd;
    outline: none;
    border: none;
    border-radius: 5rem;
    font-size: 1.1rem;
    cursor: pointer;
    font-weight: 600;
    color: white;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secondaryButton svg {
    margin-left: 0.75rem;
    font-size: 1.5rem;
}

.secondaryButton:hover {
    background-color: #532470;
}

@media (max-width: 800px) {
    .contactFormContainer {
        padding: 0.5rem !important;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 1rem !important;
    }

    .contactFormContainer input {
        font-size: 1rem !important;
        max-width: 100%;
        padding: 0.5rem 1rem !important;
        margin-bottom: 0.8rem !important;
        text-align: center;
    }

    .secondaryButton {
        font-size: 1rem;
        padding: 0.8rem 2rem;
        cursor: pointer;
    }
}